<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/imgareaselect-default.css" />
    <script type="text/javascript" src="scripts/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/jquery.imgareaselect.pack.js"></script>
    <script type="text/javascript" src="scripts/jquery.form.min.js"></script>
    <script type="text/javascript" src="js/index2.js"></script>
  </head>
  <body>
    <div style="width:1000px; height:1500px; float: left;">
      <h3>2</h3>
      <form id="uploadFileForm" action="/uploadFile2" method="post" enctype="multipart/form-data">
        <input type="file" id="uploadFile" name="file" multiple />   
      </form>
      <div id="canversDiv" draggable="true">

      </div>
    </div>
    <div>
      x1<input type="text" name="x1" /><br>
      y1<input type="text" name="y1" /><br>
      x2<input type="text" name="x2" /><br>
      y2<input type="text" name="y2" /><br>
      width<input type="text" name="width" /><br>
      height<input type="text" name="height" /><br>
    </div>
    <div id="ocrLocationEduDiv" style="display:none;">
        <div>
            <b>문서종류</b>
            <select>
                <option>PO</option>
                <option>AP</option>
            </select>
            <button>저장</button>
          </div>
          <div id="contentsWrap">
            <div class="contents">
              <select name="label1">
                <option>Buyer</option>
                <option>PO Number</option>
                <option>PO Date</option>
              </select>
              <input type="text" class="location" name="location1" disabled>
              <button class="saveBtn">입력</button>
              <button class="deleteBtn">삭제</button>
            </div>
          </div>
          <div>
            <button id="addBtn">추가하기</button>
          </div>
    </div>
  </body>
</html>
